*{
	margin:  0;
	padding:  0;
	box-sizing: border-box;
	
}


html, body{
	height:  100%;
}

.w100{
	width: 100%;

}

.clear{
	clear: both;
}

/* index */

header{
	background-color: #2fa3a8 ;
	color: white;
	font-family: 'Sono', sans-serif;
}

.center{
	max-width:  1280px;
	margin: 0 auto;
	padding: 10px;

}

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	color:  white;
	background-color:#a9d9db;
	padding: 0px 0;
	text-align:  center;
	font-family: 'Sono', sans-serif;
}
/***************/


/* menu-principal */
.sidebar, .noticias-principais{
	margin: 40px 0;
	font-family: 'Sono', sans-serif;
}

.sidebar{
	float: left;
	width:  20%;
	background-color: rgb(240,240,240);
	margin-right: 100px;
	border-radius: 5px;
	padding: 10px;
}

.noticias-principais{
	float:  left;
	width: 70%;
	padding: 10px;
}

.sidebar h4{
	margin-bottom: 10px;
}

.sidebar p{
	margin-bottom: 5px;
}

.noticias-principais .base_noticia{
	margin-bottom: 40px;
}

.noticias-principais h2{
	margin-bottom: 40px;
}

.noticias-principais p{
	text-align: justify;
	margin-bottom: 15px;
}

.noticias-principais a{

	text-decoration: none;
	padding: 5px;
	color: #2fa3a8;
	border:  2px solid #2fa3a8;
	border-radius: 5px;
	padding:  5px;
}

.noticias-principais a:hover{
	color: white;
	background-color: #2fa3a8;
}

.sidebar select{
	width: 100%;
	border-radius: 3px;
	height: 30px;
	padding-left: 5px;
	font-size: 16px;
	border:  1px solid #ccc;
	font-family: 'Sono', sans-serif;
}

div.pesquisa {

	margin-top: 10px;

}

.sidebar input[type="text"]{
		width: 100%;
	border-radius: 3px;
	height: 30px;
	padding-left: 5px;
	font-size: 16px;
	border:  1px solid #ccc;
	font-family: 'Sono', sans-serif;
}

/*************/



/* menu-painel */
.center_menu{
	width: 100%;
	text-align: center;
	margin: 70px auto;
	font-family: 'Ubuntu', sans-serif;
}

.center_menu h2{
	margin-bottom:  50px;
	color:  rgb(150,150,150);
}

.center_menu a{
	display: block;
	border-radius: 10px;
	text-decoration: none;
	width: 300px;
	color: #2fa3a8;
	margin: 20px auto;
	border: 2px solid #2fa3a8 ;
	padding: 5px;
	font-weight: bold;
}
/*******/

.container_Cadastrar_Categ{
	font-family: 'Sono', sans-serif ;
	margin-top: 30px;
}


.container_Cadastrar_Categ label{
	display: block;
	margin-bottom: 5px;
}

.container_Cadastrar_Categ input[type=text]{
	display: block;

	padding: 8px;
}

.container_Cadastrar_Categ input[type=submit]{
	font-size: 15px;
	width: 400px;
	cursor: pointer;
	padding: 8px;
	margin-top: 10px;
}

.cadastrar_not{
	margin-top: 30px;
}

.cadastrar_not div{
	margin-bottom: 10px;
	font-family: 'Sono', sans-serif  ;
}

.cadastrar_not div input,
.cadastrar_not div select,
.cadastrar_not div textarea{
	padding: 8px;
	margin-top: 5px;
}

.cadastrar_not div input[type="submit"]{
	font-size: 15px;
	width: 400px;
	cursor: pointer;
}

.noticia-single{
	float:  left;
	width: 100%;
	padding: 40px;
	font-family: 'Sono', sans-serif;
	margin-bottom: 40px;
}

.noticia-single h1{
	font-size: 30px;
	margin-bottom: 50px;
}

.noticia-single h2,
.noticia-single h2,
.noticia-single h3,
.noticia-single p{
	margin-bottom: 10px;
	text-align: justify;
}

.noticia-single img{
	margin: 0 auto;
}

div.inicio{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.inicio a{
	text-decoration: none;
	font-size: 30px;
	font-family: 'Sono', sans-serif;
	color: #2fa3a8;
	border: 2px solid  #2fa3a8;

	border-radius: 5px;
	padding: 20px;
}

div.inicio a:hover{
	background-color: #2fa3a8;
	color: white;
}

p.nãoExiste{
	padding: 40px;
	font-size: 25px;
	font-family: 'Sono', sans-serif;
	
}

@media screen and (max-width:  1020px){
	.sidebar{
		width: 100%;
	}
	.noticias-principais{
		width: 100%;
	}
	footer{
		position: unset;
	}
}